html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: #d5e1ef;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr--card {
  background: #fff;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
  padding: 16px;
  text-align: center;
}

h1 {
  font-size: 22px;
  line-height: 28px;
  margin: 24px 24px 16px 24px;
  color: #1f314f;
}

p {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 32px;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  color: #7d889e;
}

img {
  width: 100%;
  border-radius: 10px;
}
